
<section id="contact" class="contact-section">
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-xs-12 text-center  editable">
				<i class="glyphicon glyphicon-earphone aria-hidden="true""></i>
				<p><a href="tel:+27216856045">(021) 685 6045</a></p>
			</div>
			<div class="col-sm-4 col-xs-12 text-center editable">
				<i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>
				<p><a href="https://goo.gl/maps/2Vngix2QXUr" target="_blank">99 Klipfontein Road<br>Mowbray<br>Cape Town</a></p>
			</div>
			<div class="col-sm-4 col-xs-12 text-center editable">
				<i class="glyphicon glyphicon-envelope" aria-hidden="true"></i>
				<p><a href="mailto:info@bruegels.co.za" target="_blank">info@bruegels.co.za</a></p>
			</div>
		</div>
	</div>
</section>
